html
  head
    meta(
      property='csp-nonce'
      content=styleNonce
    )
    title='User Management System'
  body
    div(id='app')
  script(
    type='text/javascript'
    src='/bundle.js'
    charset='utf-8'
  )